{% extends 'users/base.html'%}
{% block body%}
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Nmae</th>
      <th scope="col">Descp.</th>
      <th scope="col">meet_id</th>
      <th scope="col">starttime</th>
    </tr>
  </thead>

  <tbody>

    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>

        {% for i in events %}
                <tr>
<!--                    <td>{{i.user}}</td>-->
                    <td>{{i.title}}</td>
                    <td>{{i.description}}</td>
                    <td>{{i.meet_id}}</td>
                    <td>{{i.start_time}}</td>
                    <td>{{i.end_time}}</td>
                </tr>
                {% endfor events%}
   

  </tbody>
</table>

{% endblock body%}